* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.popup-page {
    padding: 1rem;
}

h1 {
    padding: 0;
    margin: 0;
    margin-bottom: .25rem;
    font-size: 2rem;
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: .25rem;
    margin: 0;
    font-family: sans-serif;
}
